# Environments
.venv/
venv/
.env
.env.backup

# Python cache & artifacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.pytest_cache/
.coverage

# Logs
.logs/
*.log

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Misc
.archive/

